<div class="relative w-full">
  <section class="bg-gray-50 p-4">
    <div class="relative grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4">

      <!-- Search Bar -->
      <div class="w-full">
        <label class="block mb-1 text-sm font-medium text-gray-700">
          Search by description:
        </label>
        <div class="relative">
          <input
            class="w-full bg-white text-gray-800 text-sm border border-gray-300 pl-10 pr-3 h-10 shadow-sm  focus:ring-green-500 focus:border-green-500 hover:border-gray-400 transition duration-200"
            placeholder="Incident description..."
            [(ngModel)]="searchTerm"
            (input)="handleFilterIncidents()"
          />
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor"
               class="absolute left-3 top-2.5 h-5 w-5 text-gray-400">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M21 21l-5.2-5.2M16.2 10.4a5.8 5.8 0 1 1-11.6 0 5.8 5.8 0 0 1 11.6 0z"/>
          </svg>
        </div>
      </div>

      <!-- Filter Status Dropdown -->
      <div class="w-full">
        <label class="block mb-1 text-sm font-medium text-gray-700">
          Status:
        </label>
        <div class="relative">
          <select
            [(ngModel)]="selectedStatus"
            (change)="handleFilterIncidents()"
            class="w-full bg-white text-gray-800 text-sm border border-gray-300 pl-3 pr-8 h-10 shadow-sm  focus:ring-green-500 focus:border-green-500 hover:border-gray-400 transition duration-200 cursor-pointer appearance-none"
            style="-webkit-appearance: none;">
            <option *ngFor="let status of filterStatuses" [value]="status">{{ status || 'ALL' }}</option>
          </select>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor"
               class="absolute right-3 top-2.5 h-5 w-5 text-gray-400">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"/>
          </svg>
        </div>
      </div>

      <!-- Filter Regions Dropdown -->
      <div class="w-full">
        <label class="block mb-1 text-sm font-medium text-gray-700">
          Region:
        </label>
        <div class="relative">
          <select
            [(ngModel)]="selectedRegion"
            (change)="handleFilterIncidents()"
            class="w-full bg-white text-gray-800 text-sm border border-gray-300 pl-3 pr-8 h-10 shadow-sm  focus:ring-green-500 focus:border-green-500 hover:border-green-500 transition duration-200 cursor-pointer appearance-none"
            style="-webkit-appearance: none;">
            <option [ngValue]="null">ALL</option>
            <option *ngFor="let region of regions" [value]="region.id">{{ region.name }}</option>
          </select>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor"
               class="absolute right-3 top-2.5 h-5 w-5 text-gray-400">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"/>
          </svg>
        </div>
      </div>

      <!-- Filter Sector Dropdown (Visible to Admin Only) -->
      <div *ngIf="authService.isAdmin" class="w-full">
        <label class="block mb-1 text-sm font-medium text-gray-700">
          Sector:
        </label>
        <div class="relative">
          <select
            [(ngModel)]="selectedSector"
            (change)="onSectorChange()"
            class="w-full bg-white text-gray-800 text-sm border border-gray-300 pl-3 pr-8 h-10 shadow-sm  focus:ring-green-500 focus:border-green-500 hover:border-gray-400 transition duration-200 cursor-pointer appearance-none"
            style="-webkit-appearance: none;">
            <option [ngValue]="null">ALL</option>
            <option *ngFor="let sector of filteredSectors" [ngValue]="sector.id">{{ sector.name }}</option>
          </select>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor"
               class="absolute right-3 top-2.5 h-5 w-5 text-gray-400">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"/>
          </svg>
        </div>
      </div>

      <!-- Filter Types Dropdown -->
      <div class="w-full">
        <label class="block mb-1 text-sm font-medium text-gray-700">
          Type:
        </label>
        <div class="relative">
          <select
            [(ngModel)]="selectedType"
            (change)="handleFilterIncidents()"
            class="w-full bg-white text-gray-800 text-sm border border-gray-300 pl-3 pr-8 h-10 shadow-sm  focus:ring-green-500 focus:border-green-500 hover:border-green-500 transition duration-200 cursor-pointer appearance-none"
            style="-webkit-appearance: none;">
            <option [ngValue]="null">ALL</option>
            <option *ngFor="let type of filteredTypes" [value]="type.id">{{ type.name }}</option>
          </select>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor"
               class="absolute right-3 top-2.5 h-5 w-5 text-gray-400">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"/>
          </svg>
        </div>
      </div>

      <!-- Add Reset Button -->
      <div class="flex justify-center items-center absolute -right-4 -top-4 w-fit bg-black">
        <button type="button"
                (click)="resetFilters()"
                class="p-2 flex items-center justify-center text-white text-sm tracking-wider font-medium border-none outline-none bg-red-600 hover:bg-red-700 active:bg-red-600  shadow-lg">
          <svg xmlns="http://www.w3.org/2000/svg" width="12px" fill="currentColor" class="inline"
               viewBox="0 0 320.591 320.591">
            <path
              d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z"
              data-original="#000000"/>
            <path
              d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z"
              data-original="#000000"/>
          </svg>
        </button>
      </div>

    </div>
  </section>


  <section class="h-full w-full py-6">
    <div class="w-full overflow-x-auto">
      <table class="min-w-full bg-white border border-gray-300">
        <thead class="bg-blue-700 text-white">
        <tr class="text-left  text-sm font-medium">

          <th class="p-4">Description</th>
          <th class="p-4">Status</th>
          <th class="p-4">Type</th>
          <th class="p-4">Sector</th>
          <th class="p-4">Location</th>
          <th class="p-4">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let incident of incidents"
          class="even:bg-blue-50 odd:bg-gray-50 hover:bg-blue-100">
          <td class="p-4 text-sm">{{ incident.description }}</td>
          <td class="p-4 text-sm">
          <span
            class="p-1.5"
            [ngClass]="getStatusClass(incident.status)">{{ incident.status }}</span>

          </td>
          <td class="p-4 text-sm">{{ incident.typeDTO.name }}</td>
          <td class="p-4 text-sm">{{ incident.sectorDTO.name }}</td>
          <td class="p-4 text-sm">{{ incident.location }}</td>
          <td class="p-4 text-lg">
            <a
              [routerLink]="['/services/incidents',incident.id]"
              class="text-blue-500 cursor-pointer">
              <!--            <i class="fa-solid fa-arrow-up-right-from-square font-bold"></i>-->
              <i class="fa-solid fa-eye"></i>
            </a>

          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="md:flex my-4">
      <p class="text-sm text-gray-500 flex-1">Showing {{ currentPage * pageSize + 1 }}
        to {{ currentPage == totalPages ? Math.min(totalElements, (currentPage + 1) * pageSize) : Math.min((currentPage + 1) * pageSize, totalElements) }}
        of {{ totalElements }} entries</p>
      <div class="flex items-center max-md:mt-4">
        <p class="text-sm text-gray-500">Display</p>

        <select
          [(ngModel)]="pageSize"
          (ngModelChange)="onPageSizeChange($event)"
          class="text-sm text-gray-500 border border-gray-400  h-8 px-1 mx-4 outline-none">
          <option *ngFor="let op of options" [value]="op">{{ op }}</option>
        </select>

        <ul class="flex space-x-1 ml-4">
          <li
            class="w-8 h-8 ">
            <button
              class=" bg-gray-300 w-full h-full flex items-center justify-center cursor-pointer"
              (click)="prevPage()"
              [disabled]="currentPage === 0">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-3 fill-gray-500" viewBox="0 0 55.753 55.753">
                <path
                  d="M12.745 23.915c.283-.282.59-.52.913-.727L35.266 1.581a5.4 5.4 0 0 1 7.637 7.638L24.294 27.828l18.705 18.706a5.4 5.4 0 0 1-7.636 7.637L13.658 32.464a5.367 5.367 0 0 1-.913-.727 5.367 5.367 0 0 1-1.572-3.911 5.369 5.369 0 0 1 1.572-3.911z"
                  data-original="#000000"/>
              </svg>
            </button>

          </li>
          <li
            *ngFor="let page of pages"
            (click)="goToPage(page)"
            class="flex items-center justify-center cursor-pointer text-sm w-8 h-8 "
            [ngClass]="page == currentPage ?'bg-[#007bff]':''">
            {{ page + 1 }}
          </li>
          <li class="w-8 h-8 ">
            <button
              class="bg-gray-300 w-full h-full flex items-center justify-center cursor-pointer"
              (click)="nextPage()"
              [disabled]="currentPage === totalPages">

              <svg xmlns="http://www.w3.org/2000/svg" class="w-3 fill-gray-500 rotate-180" viewBox="0 0 55.753 55.753">
                <path
                  d="M12.745 23.915c.283-.282.59-.52.913-.727L35.266 1.581a5.4 5.4 0 0 1 7.637 7.638L24.294 27.828l18.705 18.706a5.4 5.4 0 0 1-7.636 7.637L13.658 32.464a5.367 5.367 0 0 1-.913-.727 5.367 5.367 0 0 1-1.572-3.911 5.369 5.369 0 0 1 1.572-3.911z"
                  data-original="#000000"/>
              </svg>
            </button>

          </li>
        </ul>
      </div>
    </div>

  </section>


</div>
